.header {
    display:flex;
    align-items: center;
    justify-content: space-between;
}


.nav {
    display:flex;
    align-items: center;
    column-gap:2.7rem;
    margin-bottom:0;
    list-style: none;
  }
  
.nav_item a {
   
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 500;
    color: white;
    cursor:pointer;
    font-size:1.2rem;
}
  

.nav_active  {
    font-weight:800 !important;
    color: blue;
  }


.search_box {
  color: black;
}
  